
<div class="container">
  
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3  border-bottom shadow-lg p-3 mb-5 rounded">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="assets/images/card-text.svg" alt="" width="45" height="36" class="d-inline-block align-text-top">
        Take-Note
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      
    </ul>

    <div class="col-md-3 text-end">
      <a href="http://localhost:4200/login" class="btn btn-outline-primary me-2" role="button" aria-pressed="true">Login</a>
      <a href="http://localhost:4200/register" class="btn btn-primary" role="button" aria-pressed="true">Sign-up</a>
    </div>
  </header>
</div>