<div class="bg-image " 
  style="background-image: url('assets/images/bg.jpg');
         height: 100vh">
<app-index-nav-bar></app-index-nav-bar>       

<div class="position-absolute top-50 start-0 translate-middle-y px-5">
  <img src="assets/images/paper.png" class="rounded float-start" alt="...">
</div>
<div class="position-absolute top-50 end-0 translate-middle-y px-5">
  <img src="assets/images/pencil.png" class="rounded float-end" alt="...">
</div>



<div class="position-absolute top-50 start-50 translate-middle">

  
  <h1 class="text-dark text-center uppercase">Take Note</h1>
  <p class="fs-4 text-dark text-center">Easy And Usefull</p>
  
</div>
         
<div class="position-absolute bottom-0 start-50 translate-middle-x">

  <p class="fs-4 text-dark text-center">Coming Soon For Android...</p>
</div>
</div>
  
  